<?xml version = "1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Luxoft_selenium_intro">
    <test name="Sample Selenium test">
        <classes>
            <class name="com.luxoft.selenium.introduction.SampleSeleniumTest"/>
        </classes>
    </test>
</suite>